* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* li {
  list-style: none;
} */

.gameboard-row {
  display: flex;
}

li {
  list-style: none;
}

.boxes button {
  width: 100px;
  height: 100px;
}

.active {
  outline: 1px solid red;
}

.gameover {
  width: 100vw;
  height: 100vh;
}
