* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.gameboard li,
.gameboard button {
  width: 100px;
  height: 100px;
}
